@import "main";
.section {
  margin: 0px;
  width: 100vw;

  margin: 0px;
  overflow-x: hidden;
  background: $primaryColor;
  height: 100svh;
  z-index: 1;
  @include flex(column, flex-start, center);
  font-family: "CormorantGaramond", "Poppins", sans-serif;
  p {
    font-family: "CormorantGaramond", "Poppins", sans-serif;
  }
  h1 {
    font-style: normal;
    font-weight: 300;
  }
  &::-webkit-scrollbar {
    width: 12px;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #fff;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-track {
    background-color: $primaryColor;
    border-radius: 6px;
  }
}
